.menuContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.menuText {
  font-family: "Courier New", Courier, monospace;
}

.menuSubTitle {
  margin-bottom: 5rem;
}

.menuLabel {
  color: gray;
  font-size: 10px;
}

.chaosGroup {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.menuTextInput {
  margin-bottom: 5rem;
}

.menuCloseButton {
  margin-top: 5rem;
}
