.game-object {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.object-1 {
  background-image: url("../../assets/scissors.png");
  background-size: cover;
}

.object-2 {
  background-image: url("../../assets/rock.png");
  background-size: cover;
}

.object-3 {
  background-image: url("../../assets/paper.png");
  background-size: cover;
}
