html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: left;
}

.menu {
  .menuButton {
    margin-left: 5px;
  }
}

#game-space {
  height: 100vh;
  width: 100vw;
}
